<h1 class="content-header">Sign in</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= bootstrap_form_for :sessions, 
      url: sessions_path, 
      html: { class: "content-form content-form--new-user-form" }  do |f| %>
    
      <%= f.text_field :email, value: @email %>
      <%= f.password_field :password %>
      <%= f.submit "sign in" %>
    <% end %>

    <p class="help-block">
      New user? <%= link_to "Sign up!", signup_path %>
    </p>
  </div>
</div>
