<!DOCTYPE html>
<html>
<head>
  <title>HollyCat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <%= link_to "Holy Cat!", root_path, class: "navbar-brand" %>
      </div>

      <div class="navbar-text pull-right">
        <% if current_user %>
          <%= current_user.email %> | 
          <%= link_to "Invite friend", new_invite_path %> |
          <%= link_to "Sign out", signout_path, method: :delete %>
        <% else %>
          <%= link_to "Sign in", signin_path %>
        <% end %>
      </div>
    </nav>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    

    <%= yield %>
  </div>
</body>
</html>
