<!DOCTYPE html>
<html>
<head>
  <title>HollyCat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="content">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <% if current_user %>
      <div class="user">
        <%= current_user.email %> : <%= link_to "sign out!", signout_path, method: :delete, id: 'sign-out' %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
